pipeline/pl_ingestion_raw_results.json
{
	"name": "pl_ingestion_raw_results",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata of results",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validation_results",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_src_results",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata of results",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata of results').output.exists,true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "www.asdasa.co",
								"method": "GET"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy results_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "2021*",
										"wildcardFileName": "results*.json",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['resultId']"
											},
											"sink": {
												"name": "resultId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['raceId']"
											},
											"sink": {
												"name": "raceId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['driverId']"
											},
											"sink": {
												"name": "driverId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['constructorId']"
											},
											"sink": {
												"name": "constructorId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['number']"
											},
											"sink": {
												"name": "number",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['grid']"
											},
											"sink": {
												"name": "grid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['position']"
											},
											"sink": {
												"name": "position",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['positionText']"
											},
											"sink": {
												"name": "positionText",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['positionOrder']"
											},
											"sink": {
												"name": "positionOrder",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['points']"
											},
											"sink": {
												"name": "points",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['laps']"
											},
											"sink": {
												"name": "laps",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['time']"
											},
											"sink": {
												"name": "time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['milliseconds']"
											},
											"sink": {
												"name": "milliseconds",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['fastestLap']"
											},
											"sink": {
												"name": "fastestLap",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['rank']"
											},
											"sink": {
												"name": "rank",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['fastestLapTime']"
											},
											"sink": {
												"name": "fastestLapTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['fastestLapSpeed']"
											},
											"sink": {
												"name": "fastestLapSpeed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['statusId']"
											},
											"sink": {
												"name": "statusId",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_src_results",
									"type": "DatasetReference",
									"parameters": {
										"date": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_target_results",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Validation_results",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_src_results",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							}
						}
					},
					"timeout": "7.00:00:00",
					"sleep": 10
				}
			}
		],
		"parameters": {
			"date": {
				"type": "string"
			}
		},
		"folder": {
			"name": "formula1"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-09T14:51:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}