pipeline/pl_ingestion_raw_circuits.json
{
	"name": "pl_ingestion_raw_circuits",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validation_circuits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_src_circuits",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"columnCount",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings",
						"skipLineCount": 0
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output.columnCount,9)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy circuits_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										},
										"wildcardFileName": "circuit*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_src_circuits",
									"type": "DatasetReference",
									"parameters": {
										"date": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_target_circuits",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Validation_circuits",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_src_circuits",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@pipeline().parameters.date",
								"type": "Expression"
							}
						}
					},
					"timeout": "7.00:00:00",
					"sleep": 10
				}
			}
		],
		"parameters": {
			"date": {
				"type": "string"
			}
		},
		"folder": {
			"name": "formula1"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-09T13:46:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}